@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Global styles  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #0d1321;
  --brand-color: #ffa500;
  --container-bg: #e6edf9;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(135deg, #e6e6fa, #b8e7fa);
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 1rem;
  border-radius: 1.6rem;
}

.heading_container {
  max-width: 852px;
  margin: 0 auto 4.8rem auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2.4rem;
}

h1 {
  font-size: 4.8rem;
  line-height: 6.8rem;
  font-weight: 800;
  color: var(--text-color);
}

h2 {
  font-size: 3.2rem;
  font-weight: 700;
  color: var(--text-color);
}

h3 {
  font-size: 2.8rem;
  font-weight: 700;
}

h4 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.6rem;
  color: var(--text-color);
}

p {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: var(--text-color);
}

img {
  max-width: 100%;
}

.btn_primary {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  color: var(--text-color);
  padding: 1.7rem 3rem;
  background-image: linear-gradient(90deg, #ffa500, #ffd447);
  border-radius: 1rem;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  transition: all 0.2s linear;
}

.btn_primary:hover {
  background: var(--text-color);
  color: var(--brand-color);
}

/* Header styles  */

header {
  background: var(--container-bg);
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 2.4rem;
}

.header_container > .logo span {
  color: var(--brand-color);
}

/* Hero styles  */

#hero {
  margin: 10rem 0;
}

.hero_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 3.2rem;
  background: var(--container-bg);
  padding: 4rem 6rem;
  border-radius: 1.6rem;
  text-align: center;
}

.hero_content > h1 {
  margin-bottom: 2.4rem;
}

.hero_content .heading_container {
  margin-bottom: 0;
}

.hero_container > a {
  padding-inline: 5.6rem;
}

/* Web Dev styles  */

#web_dev {
  margin-bottom: 10rem;
}

.web_dev_container {
  background: var(--container-bg);
  border-radius: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4.8rem;
}

.web_dev_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 2.4rem;
}

.web_dev_content > h4 {
  color: hsla(222, 43%, 9%, 0.7);
  font-weight: 600;
}

.web_dev_content > a {
  padding-inline: 6rem;
}

/* My Inspiration styles  */

.inspiration_box {
  border: 1px solid hsla(222, 43%, 9%, 0.2);
  border-radius: 1.6rem;
  padding: 3.2rem;
  max-width: 1100px;
  margin: 0 auto;
}

iframe {
  width: 100%;
  height: 556px;
  border-radius: 1.6rem;
}

/* Target styles  */

#target {
  margin: 10rem auto;
}

.target_container {
  padding-bottom: 7.8rem;
}

.target_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.target_card {
  padding: 4rem;
  border-radius: 1.6rem;
  background-image: linear-gradient(180deg, #e6e6fa, #b8e7fa);
  box-shadow: 0 4px 40px 0 hsla(0, 0%, 0%, 0.25);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 2.4rem;
  flex-basis: 31%;
}

.target_card > a {
  color: var(--text-color);
  font-weight: 700;
  font-size: 1.6rem;
}

/* Footer styles  */

#footer {
  background: var(--container-bg);
}

.footer_container {
  padding: 3.2rem 1.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_container > p {
  font-size: 2rem;
  font-weight: 600;
}

.social_icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 2.4rem;
}

/* Responsive Styles  */

@media (width <= 1260px) {
  /* Global Styles  */
  html {
    font-size: 55%;
  }
  .container {
    max-width: 1060px;
  }

  .heading_container {
    max-width: 652px;
  }

  /* My Inspiration styles  */

  .inspiration_box {
    max-width: 900px;
  }

  iframe {
    height: 55.6rem;
  }
}

@media (width <= 1060px) {
  /* Global Styles  */
  html {
    font-size: 48%;
  }
  .container {
    max-width: 860px;
  }

  .heading_container {
    max-width: 452px;
  }

  /* My Inspiration styles  */

  .inspiration_box {
    max-width: 700px;
  }
}

@media (width <= 860px) {
  /* Global Styles  */

  html {
    font-size: 42%;
  }

  h1 {
    font-size: 4rem;
  }
  .container {
    max-width: 560px;
  }

  .heading_container {
    max-width: 452px;
  }

  /* Web Dev styles  */

  .web_dev_container {
    flex-direction: column-reverse;
    row-gap: 3rem;
  }

  /* My Inspiration styles  */

  .inspiration_box {
    max-width: 560px;
  }
}
@media (width <= 570px) {
  /* Global Styles  */

  html {
    font-size: 40%;
  }

  h1 {
    font-size: 3.8rem;
  }

  .container {
    max-width: 460px;
  }

  .heading_container {
    padding: 0 1rem;
  }

  /* Target styles  */

  .target_content {
    flex-wrap: wrap;
    gap: 3rem;
  }

  .target_card {
    flex-basis: 100%;
    align-items: center;
  }

  /* Footer styles  */

  .footer_container {
    flex-direction: column-reverse;
    gap: 2rem;
  }

  .social_icon img {
    max-width: 20%;
  }
}

/* The END */
